body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input[type="text"] {
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}
input {
  background-color: black;
}
input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  color: white;
}

input[type="text"]::placeholder {
  color: white;
}

input[type="text"].phone-input {
  width: auto;
  text-align: center;
  color: white;
}
.bg-figma{
  background: #D9D9D9;
}
.bt-5{
  bottom: 25px;
}
.bt-add{
  position: absolute;
  bottom: 40px;
}
.bt-buy{
  bottom: 0px;
}